/hw1/nbproject/private/
/hw1/build/default/
/hw1/dist/default/
/hw4/nbproject/private/
/hw4/build/default/
/hw4/dist/default/
/NewFolder/nbproject/private/
/NewFolder/dist/default/
/NewFolder/build/default/
/hw5/dist/default/
/hw5/build/default/
/hw6/nbproject/private/
/hw6/build/default/
/hw6/dist/default/
/HW7/hid_mouse.X/build/pic32mx_usb_sk2_int_dyn/
/HW7/hid_mouse.X/nbproject/private/
/hw7/nbproject/private/
/hw7/build/default/
/hw7/hid_mouse.X/nbproject/private/